table{
    width: 100%;
    color: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: #363636;
}

a{
    color: red;

}


h1{
    color: #ffffff;
    text-align: center;
}