{% extends 'template.html' %}
{% block body %}

<h1>Categories and subcategories</h1>


<ul>
    categories:
    {% for obj in marketplaces %}
    
            <ul>
                
                {% for cat in obj['category'] %}
                
                    <li>{{ cat['name'] }}
                        <ul>
                            subcategories:
                            <li>
                                {% for sub in cat['subcategories'] %}
                                    {{ sub['name'] }}
                                {% endfor %}
                            </li>
                        </ul>

                    </li>
                {% endfor %}
            </ul>
           

    {% endfor %}
    
</ul>
<a href="/">Back</a>
{% endblock %}